* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#Conteudo-ajuda {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: url("../Imagens/conteudo.png") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
}

#ajuda {
    max-width: 1000px;
    min-width: 50px;
    max-height: 1210px;
    padding-bottom: 25px;
    margin-top: 135px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 87px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    color: #ffffff;
    background-color: #141414;
}

#ajuda > h1 {
    font-family: cursive;
    width: 100%;
    padding: 5px;
    border-radius: 20px 20px 1px 1px;
    background-color: #0b0b0b
}

#ajuda > h2 {
    padding: 21px 1px 25px 1px;
    font-size: 1.3em;
    line-height: 26px;
    font-weight: normal;
    font-family: cursive;
}

#ajuda > p {
    padding: 35px;
    font-size: 18px;
    line-height: 26px;
    font-family: "Roboto", sans-serif;
}

#ajuda > img {
    max-width: 50%;
    border-radius: 10px;
}

@media screen and (max-width: 600px) and (min-width: 1px) {
    #ajuda > img {
        max-width: 70%;
    }
}